.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  .header {
    padding: 20px;
    text-align: center;
    font-family: Anta, serif;
    position: relative;
  }
  
  .curious-she,
  .confident-she {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .show {
    opacity: 1;
  }
  
  .curious-she {
    left: -100%;
    animation: slideFromLeft 1s forwards;
  }
  
  .confident-she {
    right: -100%;
    animation: slideFromRight 1s forwards;
  }
  
  @keyframes slideFromLeft {
    0% {
      left: -100%;
    }
    100% {
      left: 0;
    }
  }
  
  @keyframes slideFromRight {
    0% {
      right: -100%;
    }
    100% {
      right: 0;
    }
  }
  
  .image-container {
    display: flex;
    justify-content: space-around;
  }
  
  .image {
    max-height: 50vh;
    transform: translateY(-100%);
    animation: slideFromTop 1s forwards;
  }
  
  @keyframes slideFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  