.walking-girl {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 150px; /* Adjust the width as needed */
  animation: walk 10s linear infinite; /* Adjust animation duration and timing function */
}

@keyframes walk {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}


.quiz-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container .heading {
  font-family: 'Anta', serif;
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
}

.container .paragraph {
  font-family: "Rubik", sans-serif;
  text-align: center;
  text-align: justify;
  max-width: 80%;
  font-size: 1rem;
  margin: 0 auto;
  font-style: italic;
}

.quiz-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 30px;
  justify-content: space-between;
}

.quiz-box {
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  color: #fff; /* Text color for better readability */
}

.quiz-box h3 {
  margin-bottom: 10px;
}

.quiz-box p {
  margin-bottom: 15px;
  font-style: italic;
}

.quiz-box a {
  color: #fff;
  text-decoration: none;
  background-color: #333; /* Background color for link */
  padding: 5px 10px;
  border-radius: 5px;
}

.quiz-box a:hover {
  background-color: #555; /* Background color on hover */
}
